#Container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.6rem;
}
button{
    border-radius: 15px;
    background-color: rgb(222, 211, 213);
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(128, 128, 247);
}
button:active{
    background-color: rgb(85, 85, 182);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}
#diceans{
margin: 25px;
}
#diceimage img{
    margin: 25px;
    width: 150px;
}